<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>Barca Zone</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<nav>
  <div class ="barcaZone">
    <h3>BarcaZone</h3>
  </div>
  <img class="logo" src = "../images/logo.png" alt="logo strony barca zone">
  <div class="container">
    <a th:href="@{/}">Home</a>
    <!-- NIE masz konta -->
    <div sec:authorize="!isAuthenticated()">
      <a th:href="@{/login}">Zaloguj się</a>
      <a th:href="@{/register}">Zarejestuj się</a>
    </div>
    <!-- Jesteś zalogowany -->
    <div sec:authorize="isAuthenticated()">
      Witaj, <b sec:authentication="name"></b>
      <form th:action="@{/logout}" method="post" style="display:inline">
        <input type="hidden" th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <button class="btn btn-primary" type="submit">Wyloguj się</button>
      </form>
    </div>
  </div>
</nav>

<!-- NADCHODZĄCE -->
<div class="container">
  <h1>Nadchodzące mecze FC Barcelony</h1>
  <div th:if="${#lists.isEmpty(upcoming)}">
    <p>Brak nadchodzących meczów.</p>
  </div>
  <ul class="match-list" th:if="${!#lists.isEmpty(upcoming)}">
    <li class="match-card" th:each="m : ${upcoming}">
      <h4 th:text="${m.dateEvent}">DATA</h4>
      <p>
        <span th:text="${m.strHomeTeam}">Home</span> vs
        <span th:text="${m.strAwayTeam}">Away</span>
      </p>
      <p>
        <span th:text="${m.intHomeScore}">Home</span> :
        <span th:text="${m.intAwayScore}">Away</span>
      </p>
      <a th:href="@{/matchDetails/{id}(id=${m.id})}" class="btn btn-primary">
        Szczegóły
      </a>
    </li>
  </ul>
</div>

<!-- OSTATNIE -->
<div class="container">
  <h1>Ostatnie mecze FC Barcelony</h1>
  <div th:if="${#lists.isEmpty(matches)}">
    <p>Brak danych o meczach.</p>
  </div>
  <ul class="match-list" th:if="${!#lists.isEmpty(matches)}">
    <li class="match-card" th:each="match : ${matches}">
      <h4 th:text="${match.dateEvent}">DATA</h4>
      <p>
        <span th:text="${match.strHomeTeam}">Home</span> vs
        <span th:text="${match.strAwayTeam}">Away</span>
      </p>
      <p th:text="${match.intHomeScore} + ' : ' + ${match.intAwayScore}">
        0 : 0
      </p>
      <a th:href="@{/matchDetails/{id}(id=${match.id})}"
         class="btn btn-primary">
        Szczegóły
      </a>
    </li>
  </ul>
</div>
</body>
</html>
